.sub-container {
    padding-top: 2vh;
    padding-inline: 20px;
    background-color: lightgray;
    height: 91vh;
}

.btn {
    margin-bottom: 4px;
}


textarea#exampleForm\.ControlTextarea1 {
    width: 60vw;
    background-color: antiquewhite;
    padding: 12px;
    border-radius: 10px;
}

button.publish.btns {
    background-color: darkslategrey;
    color: white;
    font-size: large;
    border-radius: 10px;
}



.blogname {
    font-size: larger;
    background-color: beige;
    padding: 4px;
    border-radius: 5px;
}

.commnets-conatinersa {
    overflow: scroll;
    margin-top: 5px;
    height: 34vh;
}

.container-blog {
    padding-inline: 2vw;
}

.comments-container1 {
    padding-inline: 9px;
    background-color: burlywood;
    flex-wrap: wrap;
    margin-top: 2px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}